@using TicTacToe.Resources
@model TicTacToe.Models.MVC.Game.Game
<form id="gameInfoForm" class="row"  method="POST">
    <div class="col text-center h-25">
        <div class="form-group">
            <div class="col text-center">
                <label>Начало игры: @Model.StartDateTime?.ToShortDateString() @Model.StartDateTime.Value.ToLongTimeString()</label>
                <input type="hidden" asp-for="StartDateTime" />
            </div>
        </div>
        <div class="form-group">
            @if (Model.EndDateTime == null)
            {
                <div class="col text-center">
                    <input type="hidden" asp-for="Player.Id" />
                    <label>Играют: @(Model.Player.Name) vs PC</label>
                </div>
            }
            else
            {
                <div class="col text-center">
                    <label>Завершение игры: @Model.EndDateTime?.ToShortDateString() @Model.EndDateTime.Value.ToLongTimeString()</label>
                    <br/>
                    @if (Model.WinnerPlayer != null)
                    {

                        <label>Победил: @(Model.WinnerPlayer.Name)</label>

                    }
                    else
                    {
                        <label>Результат: Ничья</label>
                    }
                </div>
                <button class="btn btn-success m-3" type="submit" asp-action="Index" asp-controller="Game">@GameStrings.PlayAgain</button>
            }
        </div>
        @if (Model.EndDateTime == null)
        {
            <button id="stopGameButton" type="submit" asp-action="StopGame" asp-controller="Game" class="btn btn-danger m-3">@GameStrings.StopGameButton</button>
        }
    </div>
</form>