@using TicTacToe.Resources
@model TicTacToe.Models.MVC.Game.Game
<form id="gameInfoForm" class="row h-25"  method="POST">
    <div class="col text-center ">
        <div class="form-group">
            <div class="col text-center">
                <input type="hidden" asp-for="Id"/>
                <label>@(GameStrings.GameStartLabel): @Model.StartDateTime?.ToShortDateString() @Model.StartDateTime.Value.ToLongTimeString()</label>
                <input type="hidden" asp-for="StartDateTime"/>
            </div>
        </div>
        <div class="form-group">
            @if (Model.EndDateTime == null)
            {
                <div class="col text-center">
                    <input type="hidden" asp-for="Player.Id" />
                    <label>@(GameStrings.PlaysLabel): @(Model.Player.Name) vs PC</label>
                </div>
            }
            else
            {
                <div class="col text-center">
                    <label>@(GameStrings.EndGameLabel): @Model.EndDateTime?.ToShortDateString() @Model.EndDateTime.Value.ToLongTimeString()</label>
                    <br/>
                    @if (Model.WinnerPlayer != null)
                    {

                <label>@(GameStrings.WonLabel): @(Model.WinnerPlayer.Name)</label>

                    }
                    else
                    {
                        <label>@(GameStrings.Result): @GameStrings.Tie</label>
                    }
                </div>
                <button class="btn btn-success m-3" type="submit" asp-action="Index" asp-controller="Game">@GameStrings.PlayAgain</button>
            }
        </div>
        @if (Model.EndDateTime == null)
        {
            <button id="stopGameButton" type="submit" asp-action="StopGame" asp-controller="Game" class="btn btn-danger m-3">@GameStrings.StopGameButton</button>
        }
    </div>
</form>