@using TicTacToe.Resources
@model TicTacToe.Models.MVC.Game.Game
@{
    ViewData["Title"] = GameStrings.PlayPageTitle;
}

<div class="container w-75">
    <div class="col justify-content-center text-center">
            @if(Model.StartDateTime == null) 
            { 
            <form id="userInfoForm" class="container" asp-action="StartGame" asp-controller="Game" method="POST">
                <partial name="CreateOrUpdatePlayerPartial"/>
                <partial name="LevelPartial" />
                <button type="submit" class="btn btn-dark m-1">@GameStrings.PlayButton</button>
            </form>
                }
                else
                {
                <partial name="GameInfoPartial" model="@Model" />
                    <partial name="GameGridPartial" model="@Model.GameCells" />
                }
</div>
        
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TicTacToe.Views.Game.Init({
                MakePlayerMoveUrl: '@Url.Action("AjaxMakePlayerMove")',
                MakeComputerMoveUrl: '@Url.Action("AjaxMakeComputerMove")',
                UpdateGameInfoUrl: '@Url.Action("UpdateGameInfo")'
            });
        });
    </script>
}